<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnaaMovie</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar px-4">
    <a class="navbar-brand fw-bold" href="/">AnaaMovie</a>
    <div class="ms-auto d-flex gap-2">
        <a href="/movies" class="btn">Daftar Film Populer</a>
        <a href="/" class="btn">Profil</a>
    </div>
</nav>

<!-- Hero Section -->
<section class="hero-section">
    <div class="overlay"></div>
    <div class="hero-content text-white">
        <h1 class="display-4 fw-bold">Muthiah Hasna</h1>
        <p class="lead">Student | Food Addict | Make Up Enthusiast</p>
    </div>
</section>

<!-- Portofolio Icons -->
<section class="portfolio-icons py-5 text-center">
    <div class="container">
        <h2 class="mb-4">About Me</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box">
                    <i class="fas fa-lightbulb fa-2x mb-2"></i>
                    <h5>Tentang Saya</h5>
                    <p>Mahasiswa Sistem Informasi yang tidak hanya suka ngoding, tapi juga suka ngopi, mencoba makanan baru, dan menjelajahi tempat baru. Makeup adalah cara saya mengekspresikan diri, karena mencintai diri sendiri itu penting dan saya percaya, inner beauty makin bersinar kalau kita percaya diri.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box">
                    <i class="fas fa-star fa-2x mb-2"></i>
                    <h5>Goals and Passions</h5>
                    <p>Saya bercita-cita menjadi seorang Data Analyst yang mampu memberikan insight bermakna melalui data. Di sisi lain, saya juga memiliki passion dalam dunia beauty dan percaya bahwa berbagi seputar perawatan diri adalah bentuk self-love.
                        Ke depan, saya ingin mengembangkan diri sebagai seorang entrepreneur yang menggabungkan teknologi, kreativitas, dan nilai positif untuk orang lain.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="icon-box">
                    <i class="fas fa-laptop-code fa-2x mb-2"></i>
                    <h5>Teknologi</h5>
                    <p>Terampil dalam Python, Bootstrap, dan deployment web.</p>
                    <p>Data film diambil dari <a href="https://rapidapi.com/octopusteam-octopusteam-default/api/imdb236" target="_blank">IMDb API</a>.</p> 
                </div>
            </div>
        </div>
    </div>
        <div class="row justify-content-center">
            <div class="col-md-1">
                <a href="mailto:muthiahhasna12@gmail.com" target="_blank" class="text-decoration-none" style="color: #C71585;">
                    <i class="far fa-envelope fa-2x mb-2"></i>
                    <p>Email</p>
                </a>
            </div>
            <div class="col-md-1">
                <a href="https://instagram.com/muthiahhasnadlt" target="_blank" class="text-decoration-none" style="color: #C71585;">
                    <i class="fab fa-instagram fa-2x mb-2"></i>
                    <p>Instagram</p>
                </a>
            </div>
            <div class="col-md-1">
                <a href="https://wa.me/6281371503092" target="_blank" class="text-decoration-none" style="color: #C71585;">
                    <i class="fab fa-whatsapp fa-2x mb-2"></i>
                    <p>WhatsApp</p>
                </a>
            </div>
        </div>
    </div>

</section>

<!-- Contact Icons -->
<section class="contact-icons py-5 text-center">
    
</section>


</body>
</html>
