<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular Movies - IMDb</title>

</head>
<body>
    <div class="container">
        <h1>🔥 Film Populer 🔥</h1>

        {% for movie in movies %}
        <div class="movie-card">
            <img src="{{ movie.primaryImage }}" alt="{{ movie.primaryTitle }}" width="100px"  height="100px">
            <div class="movie-info">
                <h2>{{ movie.primaryTitle }}</h2>
                <p><strong>Genre:</strong> {{ movie.genres | join(', ') }}</p>
                <p><strong>Rating:</strong> ⭐ {{ movie.averageRating }} ({{ movie.numVotes }} votes)</p>
                <p><strong>Release:</strong> {{ movie.releaseDate }}</p>
                <a href="{{ movie.url }}" target="_blank" class="btn">View on IMDb</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
